.label-map:hover, .label-map:focus {
    box-shadow: inset -3.5em 0 0 0 #ffdc7f, inset 3.5em 0 0 0 #ffdc7f;
      border-color: #ffdc7f;
      color: #fff;
}

.label-map{
     color: #ff7f82;
      transition: 0.25s;
      background: rgba(0,0,0, 0.438);
      border: 2px solid;
      font: inherit;
      line-height: 1;
      margin-left: 10px;
      padding: 5px;
}