html {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato';
  content: '';
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #f2c459;
  background-image: url('https://images.unsplash.com/photo-1553029488-a8f28cfd96ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
}


*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: 'Lato';
  color: white;
  position: relative;
}