html {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato';
}

html:before {
  content: '';
  position: absolute;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1553029488-a8f28cfd96ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
  -webkit-filter: blur(8px);
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: 'Lato';
  color: white;
  position: relative;
}

.round {
  background-color: rgba(0, 0, 0, .3);
  padding: 3px 9px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 300px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 85%;
  margin: 1.5rem auto;
}

.card__top {
  border-radius: 12px 12px 0 0;
  width: 100%;
  background-image: url('https://2.bp.blogspot.com/-sy7x2IHud3Q/WnGR5iB10JI/AAAAAAAAa80/eAl4tB89Ys0WQCYmov-msIwafE26VZ_jgCLcBGAs/s1600/Alcazaba%2Bnoche%2Boscura%2Bedit%2BAyuntamiento%2BWO.jpg');
  background-size: cover;
  overflow: hidden;
}

.card__intro {
  margin-bottom: 8rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card__title {
  width: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  padding: 20px 0 0 20px;
  margin: 0;
}

.card__meta {
  width: 100%;
  text-align: left;
  padding: 0px 0 0 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
  font-size: 1.125rem;
}

.card__options {
  display: flex;
  width: 100%;
  justify-content: space-around;
}


@media screen and (min-width: 50em) {
  .card__intro {
    margin-bottom: 16rem;
  }

  .card__title {
    width: 70%;
  }

  .card__meta {
    width: 30%;
    text-align: right;
    padding: 20px 20px 0 0;
  }

}

.card__options-cell {
  width: 100%;
  border-bottom: 6px solid #9aa3e5;
  text-align: center;
  padding-bottom: 4px;
}

.card__options-cell:first-child {
  border-color: #f2c459;
}

.card__options-cell:last-child {
  border-color: #6acee3;
}

.card__options-cell h3 {
  margin-bottom: 0;
  font-weight: 500;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, .75);
  position: relative;
  top: 0;
  transition: all 100ms ease;
  cursor: pointer;
}

.card__options-cell h3:hover {
  color: white;
  top: -2px;
}
.card__bottom {
  width: 100%;
  z-index: 500;
  border-radius: 0 0 12px 12px;
  position: relative;
  background-color: rgba(255, 255, 255, .35);
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.weather-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex-align: center;
}

.weather-panel__cell {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  transition: all 300ms ease;
}

.weather-panel__cell .round {
  cursor: pointer;
  max-height: 40px;
  transition: all 300ms ease;
  margin-left: 20%;
  margin-right: 2rem;
}

.weather-panel__cell .round:hover {
  background-color: rgba(255, 255, 255, .25);
}

.weather-panel .weather-panel__cell--main {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (min-width: 50em) {
  .weather-panel {
    flex-wrap: nowrap;
  }

  .weather-panel__cell {
    width: 14.285%;
  }

  .weather-panel__cell > * {
    width: 100%;
    margin-bottom: 0;
  }

  .weather-panel__cell .round {
    width: 80%;
    margin: 0 auto;
 }
}

.weather-panel .weather-panel__cell--main .temp_date h2 {
  font-size: 4.8em;
  vertical-align: top;
  position: relative;
}

.weather-panel .weather-panel__cell--main .temp_date h2 span {
  font-size: 50%;
  position: absolute;
}

@media screen and (min-width: 50em) {
  .weather-panel .weather-panel__cell--main {
    margin-bottom: 0;
    width: 50%;
 }

  .weather-panel .weather-panel__cell--main .temp_date h2 {
    font-size: 5em;
  }
}


.weather-panel .weather-panel__cell--main .icon_details {
  width: 35%;
}

.weather-panel .weather-panel__cell--main .icon_details p {
  font-size: 0.9rem;
}

.weather-panel .weather-panel__cell--main .icon_details .icon {
  fill: white;
  width: 70%;
  max-width: 100px;
  margin: 0 auto;
}

@media screen and (min-width: 50em) {
  .weather-panel .weather-panel__cell--main .icon_details .icon {
    width: 80%;
 }
}

.news-panel {
  width: 100%;
  display: none;
  flex-flow: row wrap;
}

.news-panel__cell {
  max-height: 100px;
  width: 100%;
  margin-bottom: 2rem;
  display: block;
}

.news-panel__cell figure {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.news-panel__cell figure div {
  width: 50%;
}

.news-panel__cell figure img {
  width: 100%;
}

.news-panel__cell figure h2 {
  width: 45%;
  font-size: 0.8em;
  font-weight: 300;
}

.news-panel__cell--main {
  margin-bottom: 5rem;
}

.news-panel__cell--main figure div {
  width: 100%;
}

.news-panel__cell--main figure h2 {
  width: 100%;
}

.active-option h3 {
  transition: all 200ms ease;
  color: white;
  top: -2px;
}

@media screen and (min-width: 40em) {
  .news-panel {
    flex-flow: row nowrap;
  }

  .news-panel__cell {
    width: 25%;
  }

  .news-panel__cell figure div {
    width: 100%;
  }

  .news-panel__cell figure h2 {
    width: 100%;
  }

  .news-panel__cell--main {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 30em) {
  .news-panel__cell--main {
    margin-bottom: 12rem;
 }
}